<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Teacher's Profile Upload</title>
  </head>
  <body> {% if messages %} {% for message in messages %} <div>
      <strong>{{message|safe}}</strong>
   <br/>
     <br/>
    </div> {% endfor %} {% else %} <b>{{order|safe}}</b>
    <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %} <label for="file1"> Upload a file</label>
        <p>Teachers CSV</p>
        <input type="file" id="file_teachers" name="file">
        <p>Image ZIP file</p>
        <input type="file" id="file_images" name="image_files">
      <button type="submit">Upload</button>
    </form> {% endif %}
  </body>
</html>
